body {
	color: white;
	background-color: #00868B;
	background-size: cover;
	font-size: 1em;
	font-family: 'Cabin Sketch', cursive;
	text-transform: uppercase;
}

li {

	display: block;
}

a {
	text-decoration: none;
}

.section {

	width: 60%;
	margin: 0 auto;

	border: 8px solid white;

	color: white;
	margin-top: 60px;
	text-align: center;
}

.intro-links a {
	color: white;

}

.intro-links {
	padding:0;
	text-align: center;
	line-height: 25px;
	list-style-type: square;
	cursor: pointer;
}

.levels {
	padding: 0px;
}

.levels li {
	text-align: center;
	display:inline-block;
	cursor: pointer;
	margin-right: 5px;
}

a:hover {
	color: #C1CDC1;
}


.intro {

	width: 60%;
	margin:0 auto;

	padding-top: 50px;
	text-align: center;
	height: 100%;

}

.intro .intro-header {
	text-align: center;
	font-size: 3em;
}

.intro-header .intro-tag {
	line-height: -0.5em;
}

.intro p a {
	color: white;
}

.intro p {
		text-align: justify;
}

.symbols {
	text-align: center;
}

.list-symbols li {
		display: inline-block;
		margin-right: 30px;
		cursor: pointer;
		font-size: 2em;
}

.intro-tag {
	color: orange;
	margin-top: -1.5em;
}
